{% extends "base.html" %}
{% block content %}
<div class="login-signup-container">
    <div class="left-panel">
        <div>
            <div class="logo">logo</div>
            <div class="branding">
                SmartSales<br>
                <small>Daily Sales Tracking and Forecasting</small>
            </div>
        </div>

        <div class="quote">"Lorem Ipsum Dolor"</div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        </div>

        <div class="icon-box">
            <div class="icon">icon</div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>
        </div>
    </div>

    <div class="right-panel">
        <h2>Welcome Back!</h2>
        <p>Enter your credentials to access your account.</p>

        <!-- for messages sent from backend -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- for non field errors -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}<br>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            {{ form.username }}
            {% if form.username.errors %}
                {% for error in form.username.errors %}
                    <small class="error">* {{ error }}</small><br>
                {% endfor %}
            {% endif %}

            <label for="password">Password</label>
            {{ form.password }}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <small class="error">* {{ error }}</small><br>
                {% endfor %}
            {% endif %}

            <div class="forgot"><a href="#">Forgot Password?</a></div>

            <button type="submit">Login</button>

            <div class="signup-login">
                Don't have an account? <a href="{% url 'signup' %}">Sign up</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}