{% extends "base.html" %}
{% block content %}
<div class="login-container">
    <div class="left-panel">
        <div>
            <div class="logo">logo</div>
            <div class="branding">
                SmartSales<br>
                <small>Daily Sales Tracking and Forecasting</small>
            </div>
        </div>

        <div class="quote">"Lorem Ipsum Dolor"</div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        </div>

        <div class="icon-box">
            <div class="icon"></div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>
        </div>
    </div>

    <div class="right-panel">
        <h2>Get Started!</h2>
        <p>Enter account information to sign up.</p>

        {% if form.errors %}
        <div class="form-errors">
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ field.label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            {{ form.username }}

            <label for="email">Email</label>
            {{ form.email }}

            <label for="password1">Password</label>
            {{ form.password1 }}

            <label for="password2">Confirm Password</label>
            {{ form.password2 }}

            <label for="business_name">Business Name</label>
            {{ form.business_name }}

            <button type="submit">Sign up</button>

            <div class="signup">
                Don't have an account? <a href="{% url 'login' %}">Login</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}