{% extends "base.html" %}
{% block content %}
<div class="login-signup-container">
    <div class="left-panel">
        <div>
            <div class="logo">logo</div>
            <div class="branding">
                SmartSales<br>
                <small>Daily Sales Tracking and Forecasting</small>
            </div>
        </div>

        <div class="quote">"Lorem Ipsum Dolor"</div>
        <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        </div>

        <div class="icon-box">
            <div class="icon">icon</div>
            <div class="description">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            </div>
        </div>
    </div>

    <div class="right-panel">
        <h2>Reset Password</h2>
        <p>Enter the 6-digit code sent to your email address.</p>

        <!-- for messages sent from backend -->
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <!-- for non field errors -->
        {% if form.non_field_errors %}
        <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
                {{ error }}<br>
            {% endfor %}
        </div>
        {% endif %}

        <form method="POST">
            {% csrf_token %}

            <label for="otp">Verification Code</label>
            {{ form.otp }}
            {% if form.otp.errors %}
                {% for error in form.otp.errors %}
                    <small class="error">* {{ error }}</small><br>
                {% endfor %}
            {% endif %}

            <button type="submit">Reset Password</button>

            <div class="signup-login">
               Didn't receive it? <a href="#">Resend OTP</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}